.container{
    box-shadow: rgba( 100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    padding: 50px;
}
.form-group{
    margin-bottom: 30px;
}

